Connected Services/ServiceFunciones/Funciones.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Funciones" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="BasicHttpsBinding_IFunciones_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:49575/Servicios/Funciones.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:49575/Servicios/Funciones.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:49575/Servicios/Funciones.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCFCinema.Servicios" />
      <xsd:import schemaLocation="http://localhost:49575/Servicios/Funciones.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/WCFCinema" />
      <xsd:import schemaLocation="http://localhost:49575/Servicios/Funciones.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IFunciones_CreateFuncion_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateFuncion" />
  </wsdl:message>
  <wsdl:message name="IFunciones_CreateFuncion_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateFuncionResponse" />
  </wsdl:message>
  <wsdl:message name="IFunciones_ConsultFunciones_InputMessage">
    <wsdl:part name="parameters" element="tns:ConsultFunciones" />
  </wsdl:message>
  <wsdl:message name="IFunciones_ConsultFunciones_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConsultFuncionesResponse" />
  </wsdl:message>
  <wsdl:message name="IFunciones_CreateHoraFuncion_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateHoraFuncion" />
  </wsdl:message>
  <wsdl:message name="IFunciones_CreateHoraFuncion_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateHoraFuncionResponse" />
  </wsdl:message>
  <wsdl:message name="IFunciones_ConsultFechasFuncion_InputMessage">
    <wsdl:part name="parameters" element="tns:ConsultFechasFuncion" />
  </wsdl:message>
  <wsdl:message name="IFunciones_ConsultFechasFuncion_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConsultFechasFuncionResponse" />
  </wsdl:message>
  <wsdl:message name="IFunciones_ConsultHorasFuncion_InputMessage">
    <wsdl:part name="parameters" element="tns:ConsultHorasFuncion" />
  </wsdl:message>
  <wsdl:message name="IFunciones_ConsultHorasFuncion_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConsultHorasFuncionResponse" />
  </wsdl:message>
  <wsdl:message name="IFunciones_ConsultSillasFuncion_InputMessage">
    <wsdl:part name="parameters" element="tns:ConsultSillasFuncion" />
  </wsdl:message>
  <wsdl:message name="IFunciones_ConsultSillasFuncion_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConsultSillasFuncionResponse" />
  </wsdl:message>
  <wsdl:portType name="IFunciones">
    <wsdl:operation name="CreateFuncion">
      <wsdl:input wsaw:Action="http://tempuri.org/IFunciones/CreateFuncion" message="tns:IFunciones_CreateFuncion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFunciones/CreateFuncionResponse" message="tns:IFunciones_CreateFuncion_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ConsultFunciones">
      <wsdl:input wsaw:Action="http://tempuri.org/IFunciones/ConsultFunciones" message="tns:IFunciones_ConsultFunciones_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFunciones/ConsultFuncionesResponse" message="tns:IFunciones_ConsultFunciones_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateHoraFuncion">
      <wsdl:input wsaw:Action="http://tempuri.org/IFunciones/CreateHoraFuncion" message="tns:IFunciones_CreateHoraFuncion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFunciones/CreateHoraFuncionResponse" message="tns:IFunciones_CreateHoraFuncion_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ConsultFechasFuncion">
      <wsdl:input wsaw:Action="http://tempuri.org/IFunciones/ConsultFechasFuncion" message="tns:IFunciones_ConsultFechasFuncion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFunciones/ConsultFechasFuncionResponse" message="tns:IFunciones_ConsultFechasFuncion_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ConsultHorasFuncion">
      <wsdl:input wsaw:Action="http://tempuri.org/IFunciones/ConsultHorasFuncion" message="tns:IFunciones_ConsultHorasFuncion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFunciones/ConsultHorasFuncionResponse" message="tns:IFunciones_ConsultHorasFuncion_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ConsultSillasFuncion">
      <wsdl:input wsaw:Action="http://tempuri.org/IFunciones/ConsultSillasFuncion" message="tns:IFunciones_ConsultSillasFuncion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFunciones/ConsultSillasFuncionResponse" message="tns:IFunciones_ConsultSillasFuncion_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IFunciones" type="tns:IFunciones">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CreateFuncion">
      <soap:operation soapAction="http://tempuri.org/IFunciones/CreateFuncion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultFunciones">
      <soap:operation soapAction="http://tempuri.org/IFunciones/ConsultFunciones" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateHoraFuncion">
      <soap:operation soapAction="http://tempuri.org/IFunciones/CreateHoraFuncion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultFechasFuncion">
      <soap:operation soapAction="http://tempuri.org/IFunciones/ConsultFechasFuncion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultHorasFuncion">
      <soap:operation soapAction="http://tempuri.org/IFunciones/ConsultHorasFuncion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultSillasFuncion">
      <soap:operation soapAction="http://tempuri.org/IFunciones/ConsultSillasFuncion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BasicHttpsBinding_IFunciones" type="tns:IFunciones">
    <wsp:PolicyReference URI="#BasicHttpsBinding_IFunciones_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CreateFuncion">
      <soap:operation soapAction="http://tempuri.org/IFunciones/CreateFuncion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultFunciones">
      <soap:operation soapAction="http://tempuri.org/IFunciones/ConsultFunciones" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateHoraFuncion">
      <soap:operation soapAction="http://tempuri.org/IFunciones/CreateHoraFuncion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultFechasFuncion">
      <soap:operation soapAction="http://tempuri.org/IFunciones/ConsultFechasFuncion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultHorasFuncion">
      <soap:operation soapAction="http://tempuri.org/IFunciones/ConsultHorasFuncion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultSillasFuncion">
      <soap:operation soapAction="http://tempuri.org/IFunciones/ConsultSillasFuncion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Funciones">
    <wsdl:port name="BasicHttpBinding_IFunciones" binding="tns:BasicHttpBinding_IFunciones">
      <soap:address location="http://localhost:49575/Servicios/Funciones.svc" />
    </wsdl:port>
    <wsdl:port name="BasicHttpsBinding_IFunciones" binding="tns:BasicHttpsBinding_IFunciones">
      <soap:address location="https://localhost:44310/Servicios/Funciones.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>