Connected Services/ServiceFunciones/Funciones4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:49575/Servicios/Funciones.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCFCinema.Servicios" />
  <xs:element name="CreateFuncion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nombre" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="precio" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateFuncionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateFuncionResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultFunciones">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultFuncionesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WCFCinema.Servicios" minOccurs="0" name="ConsultFuncionesResult" nillable="true" type="q1:ResultFunciones" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateHoraFuncion">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WCFCinema.Servicios" minOccurs="0" name="data" nillable="true" type="q2:InfoFuncionHora" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateHoraFuncionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateHoraFuncionResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultFechasFuncion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="funcion" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultFechasFuncionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WCFCinema.Servicios" minOccurs="0" name="ConsultFechasFuncionResult" nillable="true" type="q3:ResultFechas" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultHorasFuncion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="funcion" type="xs:int" />
        <xs:element minOccurs="0" name="fecha" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultHorasFuncionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/WCFCinema.Servicios" minOccurs="0" name="ConsultHorasFuncionResult" nillable="true" type="q4:ResultHoras" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultSillasFuncion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="funcion" type="xs:int" />
        <xs:element minOccurs="0" name="fecha" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="hora" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultSillasFuncionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/WCFCinema.Servicios" minOccurs="0" name="ConsultSillasFuncionResult" nillable="true" type="q5:ResultSillas" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>