Connected Services/ServiceReservas/Reservas.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:49575/Servicios/Reservas.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCFCinema.Servicios" />
  <xs:element name="CreateReserva">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WCFCinema.Servicios" minOccurs="0" name="data" nillable="true" type="q1:infoReserva" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateReservaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateReservaResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultReservasFuncionHora">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="funcion" type="xs:int" />
        <xs:element minOccurs="0" name="fecha" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="hora" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultReservasFuncionHoraResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WCFCinema.Servicios" minOccurs="0" name="ConsultReservasFuncionHoraResult" nillable="true" type="q2:resultReservasHora" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultReservasFuncion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="funcion" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultReservasFuncionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WCFCinema.Servicios" minOccurs="0" name="ConsultReservasFuncionResult" nillable="true" type="q3:resultReservas" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>