Connected Services/ServiceReservas/Reservas3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WCFCinema" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCFCinema" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfConsultReservasFuncionHora_Result">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ConsultReservasFuncionHora_Result" nillable="true" type="tns:ConsultReservasFuncionHora_Result" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfConsultReservasFuncionHora_Result" nillable="true" type="tns:ArrayOfConsultReservasFuncionHora_Result" />
  <xs:complexType name="ConsultReservasFuncionHora_Result">
    <xs:sequence>
      <xs:element minOccurs="0" name="R_DocumentoPersona" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="R_Fecha" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="R_FechaReserva" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="R_Funcion_ID" type="xs:decimal" />
      <xs:element minOccurs="0" name="R_Hora" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="R_NombrePersona" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="R_Silla" type="xs:decimal" />
      <xs:element minOccurs="0" name="R_TelefonoPersona" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="R_ValorPagado" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ConsultReservasFuncionHora_Result" nillable="true" type="tns:ConsultReservasFuncionHora_Result" />
  <xs:complexType name="ArrayOfConsultHorariosReservasFuncion_Result">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ConsultHorariosReservasFuncion_Result" nillable="true" type="tns:ConsultHorariosReservasFuncion_Result" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfConsultHorariosReservasFuncion_Result" nillable="true" type="tns:ArrayOfConsultHorariosReservasFuncion_Result" />
  <xs:complexType name="ConsultHorariosReservasFuncion_Result">
    <xs:sequence>
      <xs:element minOccurs="0" name="FHS_Fecha" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FHS_Funcion_ID" type="xs:decimal" />
      <xs:element minOccurs="0" name="FHS_Hora" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TotalReservas" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="TotalSillas" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ConsultHorariosReservasFuncion_Result" nillable="true" type="tns:ConsultHorariosReservasFuncion_Result" />
</xs:schema>