Connected Services/ServiceReservas/Reservas.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Reservas" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="BasicHttpsBinding_IReservas_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:49575/Servicios/Reservas.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:49575/Servicios/Reservas.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:49575/Servicios/Reservas.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCFCinema.Servicios" />
      <xsd:import schemaLocation="http://localhost:49575/Servicios/Reservas.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/WCFCinema" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IReservas_CreateReserva_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateReserva" />
  </wsdl:message>
  <wsdl:message name="IReservas_CreateReserva_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateReservaResponse" />
  </wsdl:message>
  <wsdl:message name="IReservas_ConsultReservasFuncionHora_InputMessage">
    <wsdl:part name="parameters" element="tns:ConsultReservasFuncionHora" />
  </wsdl:message>
  <wsdl:message name="IReservas_ConsultReservasFuncionHora_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConsultReservasFuncionHoraResponse" />
  </wsdl:message>
  <wsdl:message name="IReservas_ConsultReservasFuncion_InputMessage">
    <wsdl:part name="parameters" element="tns:ConsultReservasFuncion" />
  </wsdl:message>
  <wsdl:message name="IReservas_ConsultReservasFuncion_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConsultReservasFuncionResponse" />
  </wsdl:message>
  <wsdl:portType name="IReservas">
    <wsdl:operation name="CreateReserva">
      <wsdl:input wsaw:Action="http://tempuri.org/IReservas/CreateReserva" message="tns:IReservas_CreateReserva_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReservas/CreateReservaResponse" message="tns:IReservas_CreateReserva_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ConsultReservasFuncionHora">
      <wsdl:input wsaw:Action="http://tempuri.org/IReservas/ConsultReservasFuncionHora" message="tns:IReservas_ConsultReservasFuncionHora_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReservas/ConsultReservasFuncionHoraResponse" message="tns:IReservas_ConsultReservasFuncionHora_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ConsultReservasFuncion">
      <wsdl:input wsaw:Action="http://tempuri.org/IReservas/ConsultReservasFuncion" message="tns:IReservas_ConsultReservasFuncion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReservas/ConsultReservasFuncionResponse" message="tns:IReservas_ConsultReservasFuncion_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IReservas" type="tns:IReservas">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CreateReserva">
      <soap:operation soapAction="http://tempuri.org/IReservas/CreateReserva" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultReservasFuncionHora">
      <soap:operation soapAction="http://tempuri.org/IReservas/ConsultReservasFuncionHora" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultReservasFuncion">
      <soap:operation soapAction="http://tempuri.org/IReservas/ConsultReservasFuncion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BasicHttpsBinding_IReservas" type="tns:IReservas">
    <wsp:PolicyReference URI="#BasicHttpsBinding_IReservas_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CreateReserva">
      <soap:operation soapAction="http://tempuri.org/IReservas/CreateReserva" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultReservasFuncionHora">
      <soap:operation soapAction="http://tempuri.org/IReservas/ConsultReservasFuncionHora" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultReservasFuncion">
      <soap:operation soapAction="http://tempuri.org/IReservas/ConsultReservasFuncion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Reservas">
    <wsdl:port name="BasicHttpBinding_IReservas" binding="tns:BasicHttpBinding_IReservas">
      <soap:address location="http://localhost:49575/Servicios/Reservas.svc" />
    </wsdl:port>
    <wsdl:port name="BasicHttpsBinding_IReservas" binding="tns:BasicHttpsBinding_IReservas">
      <soap:address location="https://localhost:44310/Servicios/Reservas.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>